html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 30px;
    background: rgb(15, 15, 15);
    color: black;
    text-shadow: 0 0 rgba(134, 254, 25, 0.5);
    font-family: Arial;
    text-align: center;
}


.arrows {
    font-size: 40px;
    color: red;
}

td.button {
    background-color: blue;
    border-radius: 50%;
    box-shadow: 5px 5px #888888;
}

td.button:active {
    transform: translate(5px,5px);
    box-shadow: none;
}

table, th, td {
    border: 1px solid;
    border-color: aliceblue;
    width: 30%;    
}

td.button {
    min-width: 80px;
}

button {
    min-width: 100px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.card-header {
    font-family: calibri,arial,san-serif;
    font-weight: normal;
    color: #000000;
}

dl {
    border: 2px solid #ccc;
    padding: 1.2em;
    width:60%; 
}

dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
    color: green;
    font-size: smaller;
    padding-right:20px;
}

    dt::after {
        content: ":";
    }

dd {
    margin: 0 0 0 100px;
    padding: 0 0 0.5em 1em;
    font-size: smaller;
    text-align: left;
}

td.selBox, th.selBox, th.txtBox {
    width: 30%;
    text-align: center;
    min-width:350px;
}

td input {
    width: 100%;    
}

td select {
    width: 100%;
}

td{
    min-width:60px;
}

td.selBox{
    width:100%;
}

td.chkBox, th.chkBox {
    max-width: 100px;
    text-align: center;
    padding: 1px;
}

.fileList table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    align-items: center;
}
.fileList td button {
    width: 50%;
}

